Repository Konstantysz/vision-craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, header-guards, check-todos, check-namespaces

clang-tidy:
  name: clang-tidy
  entry: scripts/run-clang-tidy.py
  language: python3
  args:
  - --config-file=.clang-tidy
  - --header-filter=src/.*
  require_serial: true

header-guards:
  name: Check header guards
  entry: scripts/check-header-guards.py
  language: python3

check-todos:
  name: Check TODO/FIXME format
  entry: scripts/check-todos.py
  language: python3

check-namespaces:
  name: Check namespace formatting
  entry: scripts/check-namespaces.py
  language: python3

Add Sobel, MedianBlur, and Morphology filter nodes with tests
  src/Vision/Algorithms/CvtColorNode.cpp
  src/Vision/Algorithms/CvtColorNode.h
  src/Vision/Algorithms/MedianBlurNode.cpp
  src/Vision/Algorithms/MedianBlurNode.h
  src/Vision/Algorithms/MorphologyNode.cpp
  src/Vision/Algorithms/MorphologyNode.h
  src/Vision/Algorithms/ResizeNode.cpp
  src/Vision/Algorithms/ResizeNode.h
  src/Vision/Algorithms/SobelNode.cpp
  src/Vision/Algorithms/SobelNode.h
  tests/TestFilterNodes.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add SplitChannels and MergeChannels nodes
  src/Vision/Algorithms/MergeChannelsNode.cpp
  src/Vision/Algorithms/MergeChannelsNode.h
  src/Vision/Algorithms/SplitChannelsNode.cpp
  src/Vision/Algorithms/SplitChannelsNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add unit tests for transformation and channel nodes
  tests/TestConversionNodes.cpp
Due: clang-tidy, check-todos, check-namespaces

Register new nodes in factory and update build configuration
  src/Vision/CMakeLists.txt
  src/Vision/Factory/NodeFactory.cpp
  tests/CMakeLists.txt
Due: clang-tidy, check-todos, check-namespaces

Register new vision nodes in UI menus and search palette
  src/UI/Layers/NodeEditorLayer.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix proper text rendering
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Widgets/ContextMenuRenderer.cpp
  src/UI/Widgets/ContextMenuRenderer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Modernize vision nodes with C++20 features and fix critical validation bugs
  src/UI/Layers/NodeEditorLayer.cpp
  src/Vision/Algorithms/CvtColorNode.cpp
  src/Vision/Algorithms/CvtColorNode.h
  src/Vision/Algorithms/MedianBlurNode.cpp
  src/Vision/Algorithms/MedianBlurNode.h
  src/Vision/Algorithms/MergeChannelsNode.cpp
  src/Vision/Algorithms/MergeChannelsNode.h
  src/Vision/Algorithms/MorphologyNode.cpp
  src/Vision/Algorithms/MorphologyNode.h
  src/Vision/Algorithms/ResizeNode.cpp
  src/Vision/Algorithms/ResizeNode.h
  src/Vision/Algorithms/SobelNode.cpp
  src/Vision/Algorithms/SobelNode.h
  src/Vision/Algorithms/SplitChannelsNode.cpp
  src/Vision/Algorithms/SplitChannelsNode.h
  src/Vision/CMakeLists.txt
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add new vision processing nodes (#30)
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Widgets/ContextMenuRenderer.cpp
  src/UI/Widgets/ContextMenuRenderer.h
  src/Vision/Algorithms/CvtColorNode.cpp
  src/Vision/Algorithms/CvtColorNode.h
  src/Vision/Algorithms/MedianBlurNode.cpp
  src/Vision/Algorithms/MedianBlurNode.h
  src/Vision/Algorithms/MergeChannelsNode.cpp
  src/Vision/Algorithms/MergeChannelsNode.h
  src/Vision/Algorithms/MorphologyNode.cpp
  src/Vision/Algorithms/MorphologyNode.h
  src/Vision/Algorithms/ResizeNode.cpp
  src/Vision/Algorithms/ResizeNode.h
  src/Vision/Algorithms/SobelNode.cpp
  src/Vision/Algorithms/SobelNode.h
  src/Vision/Algorithms/SplitChannelsNode.cpp
  src/Vision/Algorithms/SplitChannelsNode.h
  src/Vision/CMakeLists.txt
  src/Vision/Factory/NodeFactory.cpp
  tests/CMakeLists.txt
  tests/TestConversionNodes.cpp
  tests/TestFilterNodes.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Implement async graph execution with cancellation support
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
  tests/TestNodeEditor.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add progress bar and cancel button to execution UI
  src/UI/Layers/GraphExecutionLayer.cpp
  src/UI/Layers/GraphExecutionLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Ignore .serena directory
  .gitignore
Due: none

Use modern C++20 standards
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Fix destructor
  src/Nodes/Core/NodeEditor.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Replace sprintf_s with snprintf
  src/UI/Layers/GraphExecutionLayer.cpp
Due: clang-tidy, check-todos, check-namespaces

Resolve std::future mismatch and Clang-Tidy warnings
  src/Editor/State/ClipboardManager.cpp
  src/Nodes/Core/Node.cpp
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Layers/GraphExecutionLayer.h
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Rendering/NodeRenderer.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Resolve duplicate declaration, shadowing, and unused parameters
  src/Nodes/Core/Node.cpp
  src/Nodes/Core/Slot.cpp
  src/UI/Canvas/CanvasController.cpp
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Canvas/InputHandler.cpp
  src/UI/Layers/DockSpaceLayer.cpp
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Layers/PropertyPanelLayer.cpp
  src/UI/Rendering/NodeRenderer.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix tests
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Fix nodes rendering
  src/UI/Canvas/ConnectionManager.cpp
Due: clang-tidy, check-todos, check-namespaces

Add Claude Code project documentation
  .gitignore
  CLAUDE.md
Due: none

Fix thread safety violation in GetConnections()
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
  tests/TestNodeEditor.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Refactor connections to use actual slot names instead of hardcoded values
  src/UI/Canvas/ConnectionManager.cpp
Due: clang-tidy, check-todos, check-namespaces

Optimize progress tracking with atomics to reduce lock contention
  src/UI/Layers/GraphExecutionLayer.cpp
  src/UI/Layers/GraphExecutionLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Fix OpenGL threading violations by deferring texture creation to main thread
  src/UI/Rendering/Strategies/ImageInputNodeRenderingStrategy.cpp
  src/UI/Rendering/Strategies/PreviewNodeRenderingStrategy.cpp
  src/Vision/IO/ImageInputNode.cpp
  src/Vision/IO/ImageInputNode.h
  src/Vision/IO/PreviewNode.cpp
  src/Vision/IO/PreviewNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Fix remaining test calls to use new AddConnection signature
  tests/TestNodeEditor.cpp
Due: clang-tidy, check-todos, check-namespaces

Implement async graph execution (#31)
  .gitignore
  CLAUDE.md
  src/Editor/State/ClipboardManager.cpp
  src/Nodes/Core/Node.cpp
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
  src/Nodes/Core/Slot.cpp
  src/UI/Canvas/CanvasController.cpp
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Canvas/InputHandler.cpp
  src/UI/Layers/DockSpaceLayer.cpp
  src/UI/Layers/GraphExecutionLayer.cpp
  src/UI/Layers/GraphExecutionLayer.h
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Layers/PropertyPanelLayer.cpp
  src/UI/Rendering/NodeRenderer.cpp
  src/UI/Rendering/Strategies/ImageInputNodeRenderingStrategy.cpp
  src/UI/Rendering/Strategies/PreviewNodeRenderingStrategy.cpp
  src/Vision/IO/ImageInputNode.cpp
  src/Vision/IO/ImageInputNode.h
  src/Vision/IO/PreviewNode.cpp
  src/Vision/IO/PreviewNode.h
  tests/TestNodeEditor.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add execution pin infrastructure to Node base class
  src/Nodes/Core/Node.cpp
  src/Nodes/Core/Node.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Implement execution flow orchestration in NodeEditor
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add execution pin types and visual constants
  src/UI/Widgets/NodeEditorConstants.h
  src/UI/Widgets/NodeEditorTypes.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Render execution pins as arrow shapes in horizontal row
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Canvas/ConnectionManager.h
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Rendering/NodeRenderer.cpp
  src/UI/Rendering/NodeRenderer.h
  src/UI/Rendering/Strategies/ImageInputNodeRenderingStrategy.cpp
  src/UI/Rendering/Strategies/PreviewNodeRenderingStrategy.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Integrate execution pins into all vision processing nodes
  src/Vision/Algorithms/CannyEdgeNode.cpp
  src/Vision/Algorithms/CvtColorNode.cpp
  src/Vision/Algorithms/GrayscaleNode.cpp
  src/Vision/Algorithms/MedianBlurNode.cpp
  src/Vision/Algorithms/MergeChannelsNode.cpp
  src/Vision/Algorithms/MorphologyNode.cpp
  src/Vision/Algorithms/ResizeNode.cpp
  src/Vision/Algorithms/SobelNode.cpp
  src/Vision/Algorithms/SplitChannelsNode.cpp
  src/Vision/Algorithms/ThresholdNode.cpp
  src/Vision/IO/ImageInputNode.cpp
  src/Vision/IO/ImageOutputNode.cpp
  src/Vision/IO/PreviewNode.cpp
Due: clang-tidy, check-todos, check-namespaces

Remove Unreal Engine and Blueprint references from comments
  src/Nodes/Core/Node.h
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
  src/UI/Widgets/NodeEditorConstants.h
  src/UI/Widgets/NodeEditorTypes.h
  src/UI/Widgets/NodeSearchPalette.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Remove unused variable and add override keywords
  src/Nodes/Core/NodeEditor.cpp
  tests/TestNodeEditor.cpp
Due: clang-tidy, check-todos, check-namespaces

Remove dead code
  src/UI/Rendering/NodeRenderer.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix event system: publish save/load events to EventBus and add subscriptions
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Canvas/ConnectionManager.h
  src/UI/Canvas/InputHandler.cpp
  src/UI/Layers/DockSpaceLayer.cpp
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Widgets/FileDialogManager.cpp
  src/UI/Widgets/FileDialogManager.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Fix node type serialization: return factory keys instead of class names
  src/Vision/Algorithms/CannyEdgeNode.h
  src/Vision/Algorithms/CvtColorNode.h
  src/Vision/Algorithms/GrayscaleNode.h
  src/Vision/Algorithms/MedianBlurNode.h
  src/Vision/Algorithms/MergeChannelsNode.h
  src/Vision/Algorithms/MorphologyNode.h
  src/Vision/Algorithms/ResizeNode.h
  src/Vision/Algorithms/SobelNode.h
  src/Vision/Algorithms/SplitChannelsNode.h
  src/Vision/Algorithms/ThresholdNode.h
  src/Vision/IO/ImageInputNode.h
  src/Vision/IO/ImageOutputNode.h
  src/Vision/IO/PreviewNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Initialize node factory on application startup
  src/App/VisionCraftGUI.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix node pin rendering to use node type instead of name
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Rendering/NodeRenderer.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix Node Editor window name for initial docking
  src/UI/Widgets/DockingLayoutHelper.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix execution flow validation and entry point detection
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Canvas/ConnectionManager.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Enforce 1:1 execution pin connections at core layer
  src/Nodes/Core/NodeEditor.cpp
Due: clang-tidy, check-todos, check-namespaces

Path conditions:
  clang-tidy: any of: \.(cpp|hpp|c|h|cc|cxx)$
  header-guards: any of: \.h$
  check-todos: any of: \.(cpp|hpp|c|h|cc|cxx)$
  check-namespaces: any of: \.(cpp|hpp|c|h|cc|cxx)$
