Repository Konstantysz/vision-craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, header-guards, check-todos, check-namespaces

.pre-commit-config.yaml:

# Pre-commit hooks for Vision Craft
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|rst)$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|c|h|cc|cxx)$
        args: ['-i', '--style=file']

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-file, .cmake-format]
      - id: cmake-lint
        args: [--config-file, .cmake-format]

  # Local hooks for clang-tidy and custom checks
  - repo: local
    hooks:
      # Clang-tidy static analysis
      - id: clang-tidy
        name: clang-tidy
        entry: scripts/run-clang-tidy.py
        language: python3
        files: \.(cpp|hpp|c|h|cc|cxx)$
        args: ['--config-file=.clang-tidy', '--header-filter=src/.*']
        require_serial: true

      # Custom header guard check
      - id: header-guards
        name: Check header guards
        entry: scripts/check-header-guards.py
        language: python3
        files: \.h$

      # Check for TODO/FIXME without issue numbers
      - id: check-todos
        name: Check TODO/FIXME format
        entry: scripts/check-todos.py
        language: python3
        files: \.(cpp|hpp|c|h|cc|cxx)$

      # Check for proper namespace usage
      - id: check-namespaces
        name: Check namespace formatting
        entry: scripts/check-namespaces.py
        language: python3
        files: \.(cpp|hpp|c|h|cc|cxx)$

  # Additional security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: \.lock$|\.md$|\.txt$

# Global configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Add test_data to gitignore
  .gitignore
Due: none

Add user-friendly error messages for image loading failures
  src/VisionCraftApp/Layers/ImageInputNodeRenderingStrategy.cpp
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
  src/VisionCraftEngine/Nodes/ImageInputNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add highlighting node connections on hover
  src/VisionCraftApp/Layers/ConnectionManager.cpp
  src/VisionCraftApp/Layers/ConnectionManager.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add multi-selection support with box selection and shift+click
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add cascading context menu with Add Node submenu
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
Due: clang-tidy, check-todos, check-namespaces

Refactor: Extract NodeFactory to eliminate if-else chain
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
  src/VisionCraftApp/Layers/NodeFactory.cpp
  src/VisionCraftApp/Layers/NodeFactory.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add SelectionManager class to encapsulate selection state
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
  src/VisionCraftApp/Layers/SelectionManager.cpp
  src/VisionCraftApp/Layers/SelectionManager.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Fully utilize SelectionManager
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix tests
  tests/TestNodeEditor.cpp
  tests/TestNodes.cpp
Due: clang-tidy, check-todos, check-namespaces

Extract ContextMenuRenderer from NodeEditorLayer
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Layers/ContextMenuRenderer.cpp
  src/VisionCraftApp/Layers/ContextMenuRenderer.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Extract FileDialogManager from NodeEditorLayer
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Layers/FileDialogManager.cpp
  src/VisionCraftApp/Layers/FileDialogManager.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Extract InputHandler from NodeEditorLayer
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Layers/InputHandler.cpp
  src/VisionCraftApp/Layers/InputHandler.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add copy/cut/paste functionality for nodes
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Editor/ClipboardManager.cpp
  src/VisionCraftApp/Editor/ClipboardManager.h
  src/VisionCraftApp/Input/InputHandler.cpp
  src/VisionCraftApp/Input/InputHandler.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
  src/VisionCraftApp/UI/ContextMenuRenderer.cpp
  src/VisionCraftApp/UI/ContextMenuRenderer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add undo/redo command pattern foundation
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Commands/Command.h
  src/VisionCraftApp/Commands/CommandHistory.cpp
  src/VisionCraftApp/Commands/CommandHistory.h
  src/VisionCraftApp/Commands/ConnectionCommands.cpp
  src/VisionCraftApp/Commands/ConnectionCommands.h
  src/VisionCraftApp/Commands/NodeCommands.cpp
  src/VisionCraftApp/Commands/NodeCommands.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Implement undo/redo keyboard shortcuts
  src/VisionCraftApp/Input/InputHandler.cpp
  src/VisionCraftApp/Input/InputHandler.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add node deletion to undo/redo
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
Due: clang-tidy, check-todos, check-namespaces

Add node movement to undo/redo
  src/VisionCraftApp/Input/InputHandler.cpp
  src/VisionCraftApp/Input/InputHandler.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add connection creation/deletion to undo/redo
  src/VisionCraftApp/Connections/ConnectionManager.cpp
  src/VisionCraftApp/Connections/ConnectionManager.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add pre-commit infrastructure and GitHub Actions workflow
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  README.md
Due: none

Add pre-commit custom validation scripts
  scripts/check-header-guards.py
  scripts/check-namespaces.py
  scripts/check-todos.py
  scripts/run-clang-tidy.py
  scripts/run-code-quality.py
Due: none

Fix line endings in config files
  .clang-tidy
  .cmake-format
  .gitattributes
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CMakePresets.json
  README.md
  cmake/CodeQuality.cmake
  cmake/vscode-tasks.json.in
  scripts/check-header-guards.py
  scripts/check-namespaces.py
  scripts/check-todos.py
  scripts/run-clang-tidy.py
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Commands/Command.h
  src/VisionCraftApp/Commands/CommandHistory.cpp
  src/VisionCraftApp/Commands/CommandHistory.h
  src/VisionCraftApp/Commands/ConnectionCommands.cpp
  src/VisionCraftApp/Commands/ConnectionCommands.h
  src/VisionCraftApp/Commands/NodeCommands.cpp
  src/VisionCraftApp/Commands/NodeCommands.h
  src/VisionCraftApp/Editor/ClipboardManager.cpp
  src/VisionCraftApp/Editor/ClipboardManager.h
  src/VisionCraftApp/Editor/NodeEditorConstants.h
  src/VisionCraftEngine/CMakeLists.txt
  src/VisionCraftEngine/EngineConstants.h
  tests/CMakeLists.txt
  vcpkg-configuration.json
  vcpkg.json
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add window state persistence and recent files management
  .gitignore
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Events/FileOpenedEvent.h
  src/VisionCraftApp/Events/LoadGraphEvent.h
  src/VisionCraftApp/Layers/DockSpaceLayer.cpp
  src/VisionCraftApp/Layers/DockSpaceLayer.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
  src/VisionCraftApp/Main/VisionCraftApplication.cpp
  src/VisionCraftApp/Persistence/DockingLayoutHelper.cpp
  src/VisionCraftApp/Persistence/DockingLayoutHelper.h
  src/VisionCraftApp/Persistence/RecentFilesManager.cpp
  src/VisionCraftApp/Persistence/RecentFilesManager.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Update include soorting in clang-format
  .clang-format
Due: none

Update .gitignore
  .gitignore
Due: none

Update changelog
  CHANGELOG.md
Due: none

Enable test coverage
  .gitignore
  CMakeLists.txt
  cmake/CodeQuality.cmake
  tests/CMakeLists.txt
Due: none

Add automated test coverage script for LLVM coverage analysis
  scripts/run-coverage.py
Due: none

Add more unit tests
  tests/CMakeLists.txt
  tests/TestImageNodes.cpp
  tests/TestNodeData.cpp
  tests/TestNodeFactory.cpp
Due: clang-tidy, check-todos, check-namespaces

Apply pre-commit formatting fixes to NodeFactory
  src/Nodes/CMakeLists.txt
  src/Nodes/Factory/NodeFactory.cpp
  src/Nodes/Factory/NodeFactory.h
  src/UI/CMakeLists.txt
  src/UI/Widgets/NodeFactory.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Apply clang-format fixes to Vision algorithms
  src/Vision/Algorithms/CannyEdgeNode.cpp
  src/Vision/Algorithms/CannyEdgeNode.h
  src/Vision/Algorithms/GrayscaleNode.cpp
  src/Vision/Algorithms/GrayscaleNode.h
  src/Vision/Algorithms/ThresholdNode.cpp
  src/Vision/Algorithms/ThresholdNode.h
  src/Vision/CMakeLists.txt
Due: clang-tidy, header-guards, check-todos, check-namespaces

Apply clang-format to NodeFactory header
  src/Nodes/CMakeLists.txt
  src/Vision/CMakeLists.txt
  src/Vision/Factory/NodeFactory.cpp
  src/Vision/Factory/NodeFactory.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Update NodeFactory references to Vision namespace
  src/Nodes/Core/NodeEditor.cpp
  src/UI/Layers/NodeEditorLayer.cpp
  tests/TestNodeFactory.cpp
Due: clang-tidy, check-todos, check-namespaces

Add connection cleanup and fix race condition in connection creation
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Canvas/ConnectionManager.h
Due: clang-tidy, header-guards, check-todos, check-namespaces
