Repository Konstantysz/vision-craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, header-guards, check-todos, check-namespaces

.pre-commit-config.yaml:

# Pre-commit hooks for Vision Craft
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|rst)$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|c|h|cc|cxx)$
        args: ['-i', '--style=file']

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-file, .cmake-format]
      - id: cmake-lint
        args: [--config-file, .cmake-format]

  # Local hooks for clang-tidy and custom checks
  - repo: local
    hooks:
      # Clang-tidy static analysis
      - id: clang-tidy
        name: clang-tidy
        entry: scripts/run-clang-tidy.py
        language: python3
        files: \.(cpp|hpp|c|h|cc|cxx)$
        args: ['--config-file=.clang-tidy', '--header-filter=src/.*']
        require_serial: true

      # Custom header guard check
      - id: header-guards
        name: Check header guards
        entry: scripts/check-header-guards.py
        language: python3
        files: \.h$

      # Check for TODO/FIXME without issue numbers
      - id: check-todos
        name: Check TODO/FIXME format
        entry: scripts/check-todos.py
        language: python3
        files: \.(cpp|hpp|c|h|cc|cxx)$

      # Check for proper namespace usage
      - id: check-namespaces
        name: Check namespace formatting
        entry: scripts/check-namespaces.py
        language: python3
        files: \.(cpp|hpp|c|h|cc|cxx)$

  # Additional security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: \.lock$|\.md$|\.txt$

# Global configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Add node ID overflow protection with AllocateNodeId helper
  src/UI/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add proper error cleanup in ImageInputNode texture handling
  src/Vision/IO/ImageInputNode.cpp
Due: clang-tidy, check-todos, check-namespaces

Add validation for connections during graph deserialization
  src/Nodes/Core/NodeEditor.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix potential crash in paste operations with missing node mappings
  src/UI/Layers/NodeEditorLayer.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix incorrect include path for NodeFactory
  src/UI/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Remove undefined behavior from const_cast in CannyEdgeNode
  src/Vision/Algorithms/CannyEdgeNode.cpp
Due: clang-tidy, check-todos, check-namespaces

Optimize cv::Mat operations by using shallow copies instead of clone
  src/Vision/Algorithms/GrayscaleNode.cpp
  src/Vision/IO/ImageOutputNode.cpp
  src/Vision/IO/PreviewNode.cpp
Due: clang-tidy, check-todos, check-namespaces

Improve command descriptions for better UX in undo/redo stack
  src/Editor/Commands/NodeCommands.cpp
Due: clang-tidy, check-todos, check-namespaces

Update README to reflect domain-driven architecture refactoring
  README.md
Due: none

Add executable permissions to Python scripts for CI/CD compatibility
  scripts/check-header-guards.py
  scripts/check-namespaces.py
  scripts/check-todos.py
  scripts/run-clang-tidy.py
  scripts/run-code-quality.py
  scripts/run-coverage.py
Due: none

Update documentation to reflect domain-driven architecture refactoring
  CHANGELOG.md
Due: none

Update documentation to reflect domain-driven architecture refactoring (#2)
  CHANGELOG.md
Due: none

Add comprehensive test suite for Editor library commands
  tests/CMakeLists.txt
  tests/TestCommandHistory.cpp
  tests/TestConnectionCommands.cpp
  tests/TestNodeCommands.cpp
Due: clang-tidy, check-todos, check-namespaces

Add CI/CD workflows for automated builds, tests and coverage reporting
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Fix deprecated actions/upload-artifact version in CI workflows
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Fix llvm on windows
  .github/workflows/build-windows.yml
Due: none

Fix Cmake on linux
  .github/workflows/build-linux.yml
Due: none

Fix cmake on windows
  .github/workflows/build-windows.yml
Due: none

Fix linux dependecies
  .github/workflows/build-linux.yml
Due: none

Add gettext to linux
  .github/workflows/build-linux.yml
Due: none

Fix workflow YAML syntax errors and improve vcpkg configuration
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Fix workflow paths and Linux build dependencies
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Add vcpkg caching to workflows
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Fix Linux build dependencies
  .github/workflows/build-linux.yml
Due: none

Fix Windows build for tests
  .github/workflows/build-windows.yml
Due: none

Fix CI workflow issues: Unicode encoding and missing Python dependencies
  .github/workflows/build-linux.yml
  scripts/run-coverage.py
Due: none

Add vcpkg_installed cache to speed up CI builds
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Split workflows into separate build, test, and coverage jobs
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Fix coverage jobs to use Clang compiler
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Add ENABLE_COVERAGE flag to coverage jobs
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Use Ninja generator for Windows coverage build with Clang
  .github/workflows/build-windows.yml
Due: none

Remove --config flag from Ninja builds (not supported)
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Fix coverage-run target to properly set LLVM_PROFILE_FILE env var
  cmake/CodeQuality.cmake
Due: none

Remove Linux coverage job, keep only Windows coverage
  .github/workflows/build-linux.yml
Due: none

Add PR comment for coverage summary
  .github/workflows/build-windows.yml
Due: none

Use CMake --parallel flag for consistent cross-platform builds
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
Due: none

Add pull-requests write permission for PR comments
  .github/workflows/build-windows.yml
Due: none

Add coverage statistics to PR comments and build status badges to README
  .github/workflows/build-windows.yml
  README.md
Due: none

Add comprehensive Editor library test suite and CI/CD workflows (#3)
  .github/workflows/build-linux.yml
  .github/workflows/build-windows.yml
  README.md
  cmake/CodeQuality.cmake
  scripts/run-coverage.py
  tests/CMakeLists.txt
  tests/TestCommandHistory.cpp
  tests/TestConnectionCommands.cpp
  tests/TestNodeCommands.cpp
Due: clang-tidy, check-todos, check-namespaces
