Repository Konstantysz/vision-craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, header-guards, check-todos, check-namespaces

clang-tidy:
  name: clang-tidy
  entry: scripts/run-clang-tidy.py
  language: python3
  args:
  - --config-file=.clang-tidy
  - --header-filter=src/.*
  require_serial: true

header-guards:
  name: Check header guards
  entry: scripts/check-header-guards.py
  language: python3

check-todos:
  name: Check TODO/FIXME format
  entry: scripts/check-todos.py
  language: python3

check-namespaces:
  name: Check namespace formatting
  entry: scripts/check-namespaces.py
  language: python3

Add thread safety lock to BuildExecutionPlan
  src/Nodes/Core/NodeEditor.cpp
Due: clang-tidy, check-todos, check-namespaces

Optimize execution pin lookup from O(n) to O(1)
  src/Nodes/Core/Node.cpp
  src/Nodes/Core/Node.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add defensive cycle detection to execution flow
  src/Nodes/Core/NodeEditor.cpp
Due: clang-tidy, check-todos, check-namespaces

Add comprehensive test coverage for execution flow
  tests/CMakeLists.txt
  tests/TestNodeEditorExecutionFlow.cpp
Due: clang-tidy, check-todos, check-namespaces

Add execution flow architecture documentation
  README.md
Due: none

Refactor pin separation logic into helper function
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Rendering/NodeRenderer.cpp
  src/UI/Widgets/NodeEditorTypes.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Optimize execution plan memory and clarify lookahead
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Update CLAUDE.md with execution flow architecture details
  CLAUDE.md
Due: none

Fix github workflow
  src/Nodes/Core/NodeEditor.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix tests
  src/Nodes/Core/NodeEditor.cpp
  tests/TestNodeEditor.cpp
  tests/TestNodeEditorExecutionFlow.cpp
Due: clang-tidy, check-todos, check-namespaces

Add Blueprint-style execution flow with white arrow pins (#33)
  CLAUDE.md
  README.md
  src/Nodes/Core/Node.cpp
  src/Nodes/Core/Node.h
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Canvas/ConnectionManager.h
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Rendering/NodeRenderer.cpp
  src/UI/Rendering/NodeRenderer.h
  src/UI/Rendering/Strategies/ImageInputNodeRenderingStrategy.cpp
  src/UI/Rendering/Strategies/PreviewNodeRenderingStrategy.cpp
  src/UI/Widgets/NodeEditorConstants.h
  src/UI/Widgets/NodeEditorTypes.h
  src/UI/Widgets/NodeSearchPalette.h
  src/Vision/Algorithms/CannyEdgeNode.cpp
  src/Vision/Algorithms/CvtColorNode.cpp
  src/Vision/Algorithms/GrayscaleNode.cpp
  src/Vision/Algorithms/MedianBlurNode.cpp
  src/Vision/Algorithms/MergeChannelsNode.cpp
  src/Vision/Algorithms/MorphologyNode.cpp
  src/Vision/Algorithms/ResizeNode.cpp
  src/Vision/Algorithms/SobelNode.cpp
  src/Vision/Algorithms/SplitChannelsNode.cpp
  src/Vision/Algorithms/ThresholdNode.cpp
  src/Vision/IO/ImageInputNode.cpp
  src/Vision/IO/ImageOutputNode.cpp
  src/Vision/IO/PreviewNode.cpp
  tests/CMakeLists.txt
  tests/TestNodeEditor.cpp
  tests/TestNodeEditorExecutionFlow.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Path conditions:
  clang-tidy: any of: \.(cpp|hpp|c|h|cc|cxx)$
  header-guards: any of: \.h$
  check-todos: any of: \.(cpp|hpp|c|h|cc|cxx)$
  check-namespaces: any of: \.(cpp|hpp|c|h|cc|cxx)$
