Repository Konstantysz/vision-craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, header-guards, check-todos, check-namespaces

.pre-commit-config.yaml:

# Pre-commit hooks for Vision Craft
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: \.(md|rst)$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: mixed-line-ending
        args: ['--fix=lf']

  # C++ formatting with clang-format
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v16.0.6
    hooks:
      - id: clang-format
        files: \.(cpp|hpp|c|h|cc|cxx)$
        args: ['-i', '--style=file']

  # CMake formatting
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        args: [--config-file, .cmake-format]
      - id: cmake-lint
        args: [--config-file, .cmake-format]

  # Local hooks for clang-tidy and custom checks
  - repo: local
    hooks:
      # Clang-tidy static analysis
      - id: clang-tidy
        name: clang-tidy
        entry: scripts/run-clang-tidy.py
        language: python3
        files: \.(cpp|hpp|c|h|cc|cxx)$
        args: ['--config-file=.clang-tidy', '--header-filter=src/.*']
        require_serial: true

      # Custom header guard check
      - id: header-guards
        name: Check header guards
        entry: scripts/check-header-guards.py
        language: python3
        files: \.h$

      # Check for TODO/FIXME without issue numbers
      - id: check-todos
        name: Check TODO/FIXME format
        entry: scripts/check-todos.py
        language: python3
        files: \.(cpp|hpp|c|h|cc|cxx)$

      # Check for proper namespace usage
      - id: check-namespaces
        name: Check namespace formatting
        entry: scripts/check-namespaces.py
        language: python3
        files: \.(cpp|hpp|c|h|cc|cxx)$

  # Additional security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: \.lock$|\.md$|\.txt$

# Global configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Update CHANGELOG.md with Editor library testing and CI/CD achievements
  CHANGELOG.md
Due: none

Update CHANGELOG.md with Editor library testing and CI/CD achievements (#4)
  CHANGELOG.md
Due: none

Align CI/CD with kappa-core and add multi-platform builds
  .github/workflows/build-linux.yml
  .github/workflows/build.yml
  CMakeLists.txt
Due: none

Split workflows into separate files for better CI visibility
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/tests.yml
Due: none

Add static analysis and format check workflows
  .github/workflows/format.yml
  .github/workflows/static-analysis.yml
Due: none

Use workflow_run to chain Build and Tests workflows
  .github/workflows/build.yml
  .github/workflows/tests.yml
Due: none

Fix artifact download in Tests workflow using cross-workflow action
  .github/workflows/tests.yml
Due: none

Add vcpkg caching and fix build dependencies in static analysis
  .github/workflows/static-analysis.yml
Due: none

Filter clang-tidy to exclude external dependencies warnings
  .github/workflows/static-analysis.yml
Due: none

Make clang-tidy fail workflow on errors while analyzing all files
  .github/workflows/static-analysis.yml
Due: none

Fix clang-tidy include paths for project headers
  .github/workflows/static-analysis.yml
Due: none

Add C++20 standard flag to clang-tidy analysis
  .github/workflows/static-analysis.yml
Due: none

Upgrade to clang-tidy-18 and fix cppcheck include paths
  .github/workflows/static-analysis.yml
Due: none

Add error checking step to cppcheck workflow
  .github/workflows/static-analysis.yml
Due: none

Fix cppcheck warnings: initialize connectionState and handle RemoveNode return value
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Layers/NodeEditorLayer.cpp
Due: clang-tidy, check-todos, check-namespaces

Add build step before clang-tidy to resolve dependencies
  .github/workflows/static-analysis.yml
Due: none

Fix nodiscard warning using [[maybe_unused]] attribute
  src/UI/Layers/NodeEditorLayer.cpp
Due: clang-tidy, check-todos, check-namespaces

Use compile commands database for clang-tidy include paths
  .github/workflows/static-analysis.yml
Due: none

Align CI/CD with kappa-core and add multi-platform builds (#8)
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/format.yml
  .github/workflows/static-analysis.yml
  .github/workflows/tests.yml
  CMakeLists.txt
  src/UI/Canvas/ConnectionManager.cpp
  src/UI/Layers/NodeEditorLayer.cpp
Due: clang-tidy, check-todos, check-namespaces

Add C++20 concepts for compile-time type safety
  src/Nodes/Core/Slot.h
  src/Vision/Factory/NodeFactory.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Replace comparison operators with C++20 spaceship operator
  src/UI/Widgets/NodeEditorTypes.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Adopt C++20 designated initializers, ranges, and modern algorithms
  src/Editor/Persistence/RecentFilesManager.cpp
  src/Editor/State/ClipboardManager.cpp
  src/Nodes/Core/NodeEditor.cpp
Due: clang-tidy, check-todos, check-namespaces

Document C++20 feature support in clang-tidy configuration
  .clang-tidy
Due: none

Adopt C++20 std::span for lightweight read-only views
  src/Editor/State/ClipboardManager.cpp
  src/Editor/State/ClipboardManager.h
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Suppress cppcheck limitation with C++20 concept syntax
  src/Nodes/Core/Slot.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Fix suppress message line
  src/Nodes/Core/Slot.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Fix coverage workflow by building tests before coverage analysis
  .github/workflows/coverage.yml
Due: none

Enable BUILD_TESTS flag in coverage workflow
  .github/workflows/coverage.yml
Due: none

Let coverage script handle build including tests
  .github/workflows/coverage.yml
Due: none

Make coverage workflow fail if report generation fails
  .github/workflows/coverage.yml
Due: none

Fix BUILD_TESTS override and restore workflow build step
  .github/workflows/coverage.yml
  CMakeLists.txt
Due: none

Adopt C++20 language features (#9)
  .clang-tidy
  .github/workflows/coverage.yml
  CMakeLists.txt
  src/Editor/Persistence/RecentFilesManager.cpp
  src/Editor/State/ClipboardManager.cpp
  src/Editor/State/ClipboardManager.h
  src/Nodes/Core/NodeEditor.cpp
  src/Nodes/Core/NodeEditor.h
  src/Nodes/Core/Slot.h
  src/UI/Widgets/NodeEditorTypes.h
  src/Vision/Factory/NodeFactory.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Prepare v0.2.0 release
  CHANGELOG.md
Due: none

Prepare v0.2.0 release (#10)
  CHANGELOG.md
Due: none

Fix broken build badges in README
  README.md
Due: none

Fix broken build badges in README (#28)
  README.md
Due: none

Add quick node creation with search palette (Ctrl+Space)
  src/UI/CMakeLists.txt
  src/UI/Canvas/InputHandler.cpp
  src/UI/Canvas/InputHandler.h
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Layers/NodeEditorLayer.h
  src/UI/Widgets/NodeSearchPalette.cpp
  src/UI/Widgets/NodeSearchPalette.h
  tests/CMakeLists.txt
  tests/TestNodeSearchPalette.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add quick node creation with search palette (Ctrl+Space) (#29)
  src/UI/CMakeLists.txt
  src/UI/Canvas/InputHandler.cpp
  src/UI/Canvas/InputHandler.h
  src/UI/Layers/NodeEditorLayer.cpp
  src/UI/Layers/NodeEditorLayer.h
  src/UI/Widgets/NodeSearchPalette.cpp
  src/UI/Widgets/NodeSearchPalette.h
  tests/CMakeLists.txt
  tests/TestNodeSearchPalette.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces
