Repository Konstantysz/vision-craft: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-tidy, header-guards, check-todos, check-namespaces

clang-tidy:
  name: clang-tidy
  entry: scripts/run-clang-tidy.py
  language: python3
  args:
  - --config-file=.clang-tidy
  - --header-filter=src/.*
  require_serial: true

header-guards:
  name: Check header guards
  entry: scripts/check-header-guards.py
  language: python3

check-todos:
  name: Check TODO/FIXME format
  entry: scripts/check-todos.py
  language: python3

check-namespaces:
  name: Check namespace formatting
  entry: scripts/check-namespaces.py
  language: python3

Update readme
  README.md
Due: none

Update CMakePresets.json
  CMakePresets.json
Due: none

Add loading image
  src/VisionCraftApp/Layers/ConnectionManager.cpp
  src/VisionCraftApp/Layers/ConnectionManager.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeRenderer.cpp
  src/VisionCraftApp/Layers/NodeRenderer.h
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
  src/VisionCraftEngine/Nodes/ImageInputNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add node rendering strategies
  src/VisionCraftApp/Layers/DefaultNodeRenderingStrategy.cpp
  src/VisionCraftApp/Layers/DefaultNodeRenderingStrategy.h
  src/VisionCraftApp/Layers/ImageInputNodeRenderingStrategy.cpp
  src/VisionCraftApp/Layers/ImageInputNodeRenderingStrategy.h
  src/VisionCraftApp/Layers/NodeRenderer.cpp
  src/VisionCraftApp/Layers/NodeRenderer.h
  src/VisionCraftApp/Layers/NodeRenderingStrategy.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add NodeDimensionCalculator
  src/VisionCraftApp/Layers/ImageInputNodeRenderingStrategy.cpp
  src/VisionCraftApp/Layers/NodeDimensionCalculator.cpp
  src/VisionCraftApp/Layers/NodeDimensionCalculator.h
  src/VisionCraftApp/Layers/NodeRenderer.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Implement dependency injection pattern to fix layering violation
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Layers/NodeDimensionCalculator.cpp
  src/VisionCraftApp/Layers/NodeEditorConstants.h
  src/VisionCraftApp/Layers/NodeRenderer.cpp
  src/VisionCraftEngine/Node.cpp
  src/VisionCraftEngine/Node.h
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
  src/VisionCraftEngine/Nodes/ImageInputNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Implement new texture management and extract Engine constants
  src/Core/CMakeLists.txt
  src/Core/Texture.cpp
  src/Core/Texture.h
  src/VisionCraftApp/Layers/NodeEditorConstants.h
  src/VisionCraftEngine/EngineConstants.h
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
  src/VisionCraftEngine/Nodes/ImageInputNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Split large methods into helper functions
  src/VisionCraftApp/Layers/NodeRenderer.cpp
  src/VisionCraftApp/Layers/NodeRenderer.h
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
  src/VisionCraftEngine/Nodes/ImageInputNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Make tests work
  .gitignore
  cmake/vscode-tasks.json.in
  src/VisionCraftEngine/CMakeLists.txt
Due: none

Add PreviewNode
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Layers/ConnectionManager.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeRenderer.cpp
  src/VisionCraftApp/Layers/PreviewNodeRenderingStrategy.cpp
  src/VisionCraftApp/Layers/PreviewNodeRenderingStrategy.h
  src/VisionCraftEngine/CMakeLists.txt
  src/VisionCraftEngine/Nodes/PreviewNode.cpp
  src/VisionCraftEngine/Nodes/PreviewNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Added EventBus
  src/Core/Application.h
  src/Core/EventBus.h
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Events/GraphExecuteEvent.h
  src/VisionCraftApp/Layers/GraphExecutionLayer.cpp
  src/VisionCraftApp/Layers/GraphExecutionLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Implement node graph execution system with EventBus communication
  src/Core/Application.cpp
  src/Core/Application.h
  src/VisionCraftApp/Layers/ConnectionManager.cpp
  src/VisionCraftApp/Layers/ConnectionManager.h
  src/VisionCraftApp/Layers/GraphExecutionLayer.cpp
  src/VisionCraftApp/Layers/GraphExecutionLayer.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
  src/VisionCraftApp/VisionCraftApplication.cpp
  src/VisionCraftApp/VisionCraftApplication.h
  src/VisionCraftEngine/NodeEditor.cpp
  src/VisionCraftEngine/NodeEditor.h
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add ImGuiFileDialog submodule
  .gitmodules
Due: none

Replace slow PowerShell file dialog with ImGuiFileDialog
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Layers/NodeRenderer.cpp
  src/VisionCraftApp/Layers/NodeRenderer.h
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
  src/VisionCraftEngine/Nodes/ImageInputNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Create new slot system
  src/VisionCraftEngine/CMakeLists.txt
  src/VisionCraftEngine/Node.cpp
  src/VisionCraftEngine/Node.h
  src/VisionCraftEngine/NodeData.h
  src/VisionCraftEngine/NodeEditor.cpp
  src/VisionCraftEngine/Nodes/CannyEdgeNode.cpp
  src/VisionCraftEngine/Nodes/GrayscaleNode.cpp
  src/VisionCraftEngine/Nodes/GrayscaleNode.h
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
  src/VisionCraftEngine/Nodes/ImageOutputNode.cpp
  src/VisionCraftEngine/Nodes/PreviewNode.cpp
  src/VisionCraftEngine/Nodes/ThresholdNode.cpp
  src/VisionCraftEngine/Slot.cpp
  src/VisionCraftEngine/Slot.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Unify slot and parameter systems with automatic default values
  src/VisionCraftEngine/Node.cpp
  src/VisionCraftEngine/Node.h
  src/VisionCraftEngine/NodeData.h
  src/VisionCraftEngine/Nodes/CannyEdgeNode.cpp
  src/VisionCraftEngine/Nodes/GrayscaleNode.cpp
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
  src/VisionCraftEngine/Nodes/ImageOutputNode.cpp
  src/VisionCraftEngine/Nodes/ThresholdNode.cpp
  src/VisionCraftEngine/Slot.cpp
  src/VisionCraftEngine/Slot.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add more tests
  src/VisionCraftEngine/NodeEditor.cpp
  src/VisionCraftEngine/Slot.cpp
  src/VisionCraftEngine/Slot.h
  tests/CMakeLists.txt
  tests/TestNodeEditor.cpp
  tests/TestNodes.cpp
  tests/TestSlot.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Remove legacy parameter system
  src/VisionCraftEngine/CMakeLists.txt
  src/VisionCraftEngine/Node.cpp
  src/VisionCraftEngine/Node.h
  src/VisionCraftEngine/NodeParameter.cpp
  src/VisionCraftEngine/NodeParameter.h
  tests/CMakeLists.txt
  tests/TestNodeParameter.cpp
  tests/TestNodes.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add tests for node implementations and graph execution
  tests/CMakeLists.txt
  tests/TestNodeEditor.cpp
  tests/TestNodeImplementations.cpp
Due: clang-tidy, check-todos, check-namespaces

Prepare Core for extraction
  src/Core/.gitignore
  src/Core/LICENSE
  src/Core/README.md
  src/Core/examples/minimal/CMakeLists.txt
  src/Core/examples/minimal/README.md
  src/Core/examples/minimal/main.cpp
Due: clang-tidy, check-todos, check-namespaces

Remove Core in preparation for submodule
  src/Core/.gitignore
  src/Core/Application.cpp
  src/Core/Application.h
  src/Core/CMakeLists.txt
  src/Core/Event.h
  src/Core/EventBus.h
  src/Core/LICENSE
  src/Core/Layer.h
  src/Core/Logger.h
  src/Core/README.md
  src/Core/Texture.cpp
  src/Core/Texture.h
  src/Core/Window.cpp
  src/Core/Window.h
  src/Core/examples/minimal/CMakeLists.txt
  src/Core/examples/minimal/README.md
  src/Core/examples/minimal/main.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add kappa-core as submodule
  .gitmodules
Due: none

Fix thrown exceptions
  src/VisionCraftApp/Layers/ConnectionManager.cpp
  src/VisionCraftApp/Layers/NodeRenderer.cpp
Due: clang-tidy, check-todos, check-namespaces

Integrate kappa-core submodule
  CMakeLists.txt
  src/CMakeLists.txt
Due: none

Update namespace from Core to Kappa throughout codebase
  src/VisionCraftApp/CMakeLists.txt
  src/VisionCraftApp/Events/GraphExecuteEvent.h
  src/VisionCraftApp/Layers/CanvasController.cpp
  src/VisionCraftApp/Layers/CanvasController.h
  src/VisionCraftApp/Layers/DockSpaceLayer.cpp
  src/VisionCraftApp/Layers/DockSpaceLayer.h
  src/VisionCraftApp/Layers/GraphExecutionLayer.cpp
  src/VisionCraftApp/Layers/GraphExecutionLayer.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
  src/VisionCraftApp/Layers/PropertyPanelLayer.cpp
  src/VisionCraftApp/Layers/PropertyPanelLayer.h
  src/VisionCraftApp/VisionCraftApplication.cpp
  src/VisionCraftApp/VisionCraftApplication.h
  src/VisionCraftApp/VisionCraftGUI.cpp
  src/VisionCraftEngine/CMakeLists.txt
  src/VisionCraftEngine/Nodes/ImageInputNode.h
  src/VisionCraftEngine/Nodes/PreviewNode.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Update README to reference kappa-core submodule and fix repository links
  README.md
Due: none

Fix linux compilation
  src/VisionCraftApp/Layers/NodeRenderer.cpp
Due: clang-tidy, check-todos, check-namespaces

Fix critical Release build crash and remove debug logs
  src/VisionCraftApp/Layers/ImageInputNodeRenderingStrategy.cpp
  src/VisionCraftApp/Layers/NodeRenderer.cpp
  src/VisionCraftApp/Layers/PreviewNodeRenderingStrategy.cpp
  src/VisionCraftEngine/Nodes/ImageInputNode.cpp
  src/VisionCraftEngine/Nodes/PreviewNode.cpp
Due: clang-tidy, check-todos, check-namespaces

Add node serialization infrastructure
  src/VisionCraftEngine/CMakeLists.txt
  src/VisionCraftEngine/Node.h
  src/VisionCraftEngine/Nodes/CannyEdgeNode.h
  src/VisionCraftEngine/Nodes/GrayscaleNode.h
  src/VisionCraftEngine/Nodes/ImageInputNode.h
  src/VisionCraftEngine/Nodes/ImageOutputNode.h
  src/VisionCraftEngine/Nodes/PreviewNode.h
  src/VisionCraftEngine/Nodes/ThresholdNode.h
  vcpkg.json
Due: clang-tidy, header-guards, check-todos, check-namespaces

Implement NodeFactory for node instantiation
  src/VisionCraftEngine/NodeFactory.cpp
  src/VisionCraftEngine/NodeFactory.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add graph save/load functionality to NodeEditor
  src/VisionCraftEngine/NodeEditor.cpp
  src/VisionCraftEngine/NodeEditor.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add file management events
  src/VisionCraftApp/Events/LoadGraphEvent.h
  src/VisionCraftApp/Events/NewGraphEvent.h
  src/VisionCraftApp/Events/SaveGraphEvent.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Implement file management UI and event handling
  src/VisionCraftApp/Layers/DockSpaceLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Remove debug logging
  src/VisionCraftApp/VisionCraftApplication.cpp
Due: clang-tidy, check-todos, check-namespaces

Add CHANGELOG
  CHANGELOG.md
Due: none

Add node deletion via Delete key and right-click menu
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
  src/VisionCraftApp/Layers/NodeEditorLayer.h
Due: clang-tidy, header-guards, check-todos, check-namespaces

Add connection deletion on right-click
  src/VisionCraftApp/Layers/ConnectionManager.cpp
  src/VisionCraftApp/Layers/ConnectionManager.h
  src/VisionCraftApp/Layers/NodeEditorLayer.cpp
Due: clang-tidy, header-guards, check-todos, check-namespaces

Path conditions:
  clang-tidy: any of: \.(cpp|hpp|c|h|cc|cxx)$
  header-guards: any of: \.h$
  check-todos: any of: \.(cpp|hpp|c|h|cc|cxx)$
  check-namespaces: any of: \.(cpp|hpp|c|h|cc|cxx)$
